
<%= form_for([@post, @post.comments.build]) do |f| %>
<div class="form-group add-comment-size">
	<%= f.text_area :body, :class => 'form-control', rows: 5 %>
		<%= f.submit 'Добавить', :class => 'btn btn-info my-btn right' %>
</div>
<% end %>
