@import "bootstrap-sprockets";
@import "bootstrap";


text-area{
  resize:false;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #31B0D5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  padding-top: 5px;
}
.logo:hover {
    color: #31B0D5;
    text-decoration: none;
  }

.header-link{
  font-size: 1.3em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


h1 {
font-size: 3em;
letter-spacing: -2px;
text-align: center;
}



.posts {
  list-style: none;
  padding: 0 20px 10px 20px;

  h2{
  font-size: 2.5em;
  letter-spacing: -2px;
  text-align: left;
  }
  h4{
  font-size: 1.5em;
  letter-spacing: -2px;
  text-align: left;
  #margin-top: -10px;
  }

  li {  
  margin-bottom: 10px;
  border-top: 1px solid #e8e8e8;}
}

.btn-margin{
  float:right; 
  margin-top: 30px; 
  margin-right: 35px;
}

.my-btn{
  color: #222222;
  font-size: 1.2em;
}

.right{
  float:right;
}

.timestamp {
color: #999;
}

.content {
font-size: 1.2em;
margin-bottom:30px;
text-align:justify;
}

.rud-btn{
  font-size: 1.2em;
}

.separator{
  color: #d8d8d8;
}

.content-show {
font-size: 1.2em;
margin-bottom:30px;
text-align:justify;
}

.time-show{
   margin-top: -35px;
   color: #999;
   float:right;
   font-size: 1.2em;

}

.add-comment-size{
  width: 38%;
}

textarea{
  margin-bottom: 10px;
  resize: none;
}

.comment-time{
  margin-top:-8px;
  float:right;
  color: #999;
  margin-right:30px;
}

.comment-delete{
  float:right;
  font-size: 1.2em;
  margin-top: 60px;
  margin-right: -160px;
}

#error_explanation {
  color: #f00;
  ul {
  list-style: none;
  margin: 0 0 18px 0;
  }
}

.profile-gravatar{

}
.profile-info{
  padding-right:40px;
  border-right: 1px solid #d8d8d8;
}

.profile-posts{
  padding-left:40px;
}

.fix-div{
  margin: 0 auto;margin: 0 auto;
}



/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .reg-btn{
    margin-top: 10px;
 }