<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Fludilka", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">       
          <li><%= link_to "Users", users_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>